---
- name: Create groups
  ansible.builtin.group:
    name: "{{ item.name }}"
    state: "{{ item.state | default('present') }}"
  loop: "{{ groups_to_create }}"
  become: true

- name: Create users
  ansible.builtin.user:
    name: "{{ item.name }}"
    group: "{{ item.group }}"
    state: "{{ item.state | default('present') }}"
    shell: /bin/bash
    create_home: yes
  loop: "{{ users_to_create }}"
  become: true
